<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

{# Start History Table #}

<h4 class="text-info">History: (todo, add zone change junk)</h4>
{% include 'flash.html' %}
<table class="table table-condensed table-striped table-bordered">
  <thead>
      <tr>
        <td width="25%">
          <b>Event</b>
        </td>
        <td width="25%">
          <b>Source</b>
        </td>
        <td width="25%">
          <b>Date</b>
        </td>
        <td width="25%">
          <b>Time</b>
        </td>
      </tr>
    </font>
  </thead>

  <tbody>
    {# Note: items used here since it is a pagination object #}
    {% for histdata in history.items %} 
      {% include 'histdata.html' %}
    {% endfor %}
  </tbody>

</table>

{# Start Pagination #}

<center>
  <div class="pagination">
    <ul>
      {% if history.has_prev %}
        <li><a href="{{ url_for('history', page = history.prev_num) }}">Newer</a></li>
      {% else %}
        <li class="disabled"><a href="#">Newer</a></li>
      {% endif %}

      {%- for page in history.iter_pages(left_edge=1, left_current=0, right_current=1, right_edge=1) %}
        {% if page %}
          {% if page != history.page %}
            <li><a href="{{ url_for('history', page = page) }}">{{ page }}</a></li>
          {% else %}
          <li class="disabled"><a href="#">{{ page }}</a></li>
          {% endif %}
        {% else %}
            <li><a href="#">...</a></li>
        {% endif %}
      {%- endfor %}

      {% if history.has_next %}
        <li><a href="{{url_for('history', page = history.next_num) }}">Older</a></li>
      {% else %}
        <li class="disabled"><a href="#">Older</a></li>
      {% endif %}
    </ul>
  </div>
</center>

{% endblock %}

{# TODO: Work on widths some, also add "8 minutes ago" style column using babel? #}
